recursive-include test *
recursive-include resources *.rkt
include README.org
exclude MANIFEST.in
exclude resources/units/parsing.rkt
recursive-exclude * *.pyc
recursive-exclude * *.swp
recursive-exclude * *.swo
